In [1]:
import numpy as np
import pandas as pd

/home/w_lander/anaconda3/envs/dowgrade/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv('datasetes/kc_house_data.csv', index_col='id')

In [3]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### Ноутбук kc_house_data .csv

- id - Уникальный ID для каждого дома
- date - Дата продажи дома
- price - Стоимость продажи дома
- bedrooms - Кол-во спален
- bathrooms - Кол-во ванных комнат (0.5 - туалет без душа)
- sqft_living - Кв. метры жилые
- sqft_lot - Кв. метры общие
- floors - Кол-во этажей
- waterfront - Есть набержная или нет
- view - Значение от 0 до 4 насколько хороший вид
- condition - Значение от 1 до 5 насколько хорошее состояние
- grade - Значение от 1 до 13, где 1-3 плохая конструкция здания и дизайн, 7 - средний уровень конструкции и дизайна, 11-13 - высокое качество конструкции и дизайна
- sqft_above - Кв. метры дома, которые находятся выше земли
- sqft_basement - Кв. метры дома, которые находятся ниже земли
- yr_built - Год постройки дома
- yr_renovated - Год ремонта дома
- zipcode - Индекс
- lat - Широтма
- long - Долгота
- sqft_living15 - Кв. метры жилой площади у 15 соседей
- sqft_lot15 - Кв. метры общей площади у 15 соседей

### Проведите первичный анализ данных
1. Изучите типы данных
2. Найдите количество пропущенных ячеек в данных
3. Посчитайте основные статистики по всем признакам и
поизучайте их
4. Пишите выводы

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 7129300520 to 1523300157
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  object
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(14), object(1)
memory usage: 3.5+ MB

In [5]:
df.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [6]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

### Ответьте на несколько вопросов
3.1 В каком диапазоне изменяются стоимости недвижимости?

3.2 Какую долю в среднем занимают жилая площадь от всей
площади по всем домам?

3.3 Как много домов с разными этажами в данных?

3.4 Насколько хорошие состояния у домов в данных?

3.5 Найдите года, когда построили первый дом, когда
построили последний дом в данных?

In [7]:
# 3.1 В каком диапазоне изменяются стоимости недвижимости?
{'Минимальная стоимость': df['price'].min(), 'Максимальная стоимость': df['price'].max()}

{'Минимальная стоимость': 75000.0, 'Максимальная стоимость': 7700000.0}

In [8]:
# 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
df['sqft_living'].sum() / df['sqft_lot'].sum() * 100

13.76781757959227

In [9]:
# 3.3 Как много домов с разными этажами в данных?
df['floors'].value_counts()

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

In [10]:
# 3.4 Насколько хорошие состояния у домов в данных?
df['condition'].value_counts()

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

In [11]:
# 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?
{'Самый старый дом': df['yr_built'].min(), 'Самый новый дом': df['yr_built'].max()}

{'Самый старый дом': 1900, 'Самый новый дом': 2015}

### Ответьте на несколько вопросов

4.1 Сколько в среднем стоят дома, у которых 2 спальни?

4.2 Какая в среднем общая площадь домов, у которых
стоимость больше 600 000?

4.3 Как много домов коснулся ремонт?

4.4 Насколько в среднем стоимость домов с оценкой grade
домов выше 10 отличается от стоимости домов с оценкой grade
меньше 4?

In [12]:
# 4.1 Сколько в среднем стоят дома, у которых 2 спальни?
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

In [13]:
# 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
df[df['price'] > 600_000]['sqft_lot'].mean()

20442.524776214832

In [14]:
# 4.3 Как много домов коснулся ремонт?
df[df['yr_renovated'] != 0].shape[0]

914

In [15]:
# 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?
grade_pirce_10 = df[df['grade'] > 10]['price'].mean()
grade_pirce_3 = df[df['grade'] < 4]['price'].mean()

In [16]:
grade_pirce_10 - grade_pirce_3

1488885.1175298805

### Выберите дом клиенту

5.1 Выберите дом клиенту

Клиент хочет дом с видом на набережную, как минимум с тремя
ванными и с подвалом. Сколько вариантов есть у клиента?

5.2 Выберите дом клиенту

Клиент хочет дом либо с очень красивым видом из окна, либо с
видом на набережную, в очень хорошем состоянии и год
постройки не меньше 1980 года. В какой ценовом диапазоне
будут дома?

5.3 Выберите дом клиенту

Клиент хочет дом без подвала, с двумя этажами, стоимостью
до 150000. Какая оценка по состоянию у таких домов в
среднем?

In [17]:
# Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
client_1 = df[
    (df['waterfront'] == 1) &
    (df['bathrooms'] >= 3) &
    (df['sqft_basement'] != 0)
].shape[0]
client_1

41

In [18]:
# Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, 
# в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?
client_2 = df[
    (df['yr_built'] >= 1980) &
    (df['condition'] >= 5) &
    ((df['waterfront'] == 1) | (df['view'] == 4))
]['price']

In [19]:
{'Минимальная стоимость': client_2.min(), 'Максимальная стоимость': client_2.max()}

{'Минимальная стоимость': 1295000.0, 'Максимальная стоимость': 3000000.0}

In [20]:
# Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?
client_3 = df[
    (df['floors'] == 2) &
    (df['price'] < 150_000)
]['condition'].mean()
client_3

2.8333333333333335