In [1]:
import pandas as pd
import numpy as np
#from category_encoders import TargetEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import f1_score, classification_report, r2_score, mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split

/home/w_lander/anaconda3/envs/dowgrade/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

### Используя набор данных о домах, примените метрики для оценки качества модели регрессии. Затем, используя набор данных об ирисах, примените метрики для оценки качества модели классификации.

Шаги для выполнения задания:

1. Загрузите набор данных о домах и набор данных об ирисах.

2. Разделите данные на обучающую и тестовую выборки.

3. Создайте модель регрессии и обучите ее на обучающей выборке.

4. Примените метрики для оценки качества модели регрессии на тестовой выборке.

5. Создайте модель классификации и обучите ее на обучающей выборке.

6. Примените метрики для оценки качества модели классификации на тестовой выборке.

In [2]:
from sklearn.datasets import load_iris

In [3]:
iris = load_iris()

iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [4]:
df_iris = pd.DataFrame(iris.data, columns=iris.feature_names)

In [5]:
df_iris['target'] = iris.target

In [6]:
# удилим 2 класс
df_iris = df_iris.drop(df_iris[df_iris['target'] == 2].index)

In [7]:
df_iris['target'].value_counts()

target
0    50
1    50
Name: count, dtype: int64

In [8]:
df_boston = pd.read_csv('data/boston_house_prices.csv', header=1)
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [9]:
df_boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

### Построение модели регрессии на данных boston_house_prices

In [10]:
# стандартизируем признаки
scaled = StandardScaler().fit_transform(df_boston)

df_boston_scaled = pd.DataFrame(scaled, columns=df_boston.columns)

In [11]:
df_boston_scaled.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562,0.159686
1,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439,-0.101524
2,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727,1.324247
3,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517,1.182758
4,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501,1.487503

In [12]:
X = df_boston_scaled.drop(['CRIM'], axis=1)
Y = df_boston_scaled['CRIM']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [13]:
model_lr = LinearRegression().fit(X_train, y_train)

pred = model_lr.predict(X_test)

print('TEST')
print(f'MSE: {round(mean_squared_error(y_test, pred), 4)}')
print(f'MAE: {round(mean_absolute_error(y_test, pred), 4)}')
print(f'r2_score: {round(r2_score(y_test, pred), 4)}')

TEST
MSE: 0.331
MAE: 0.3256
r2_score: 0.5564

### Построение модели класификации на данных load_iris

In [14]:
X = df_iris.drop(['target'], axis=1)
Y = df_iris['target']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [15]:
model_svc = SVC().fit(X_train, y_train)

pred_svc = model_svc.predict(X_test)

print('TEST')
print(classification_report(y_test, pred_svc))

TEST
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       1.00      1.00      1.00         8

    accuracy                           1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20