Набор рекламных данных, показывающих, щёлкнул ли конкретный

пользователь рекламу на сайте компании или нет. Состоит из двух разных


файлов: advertising_1.csv, advertising_2.csv. Описание столбцов
датасета:

####  ● Number: Номер пользователя в системе.

#### ● Daily Time Spent on Site: Среднее ежедневное время нахождения пользователя на сайте в минутах.

#### ● Daily Internet Usage: Среднее ежедневное время нахождения пользователя в интернете в минутах.

#### ● Ad Topic Line: Заголовок рекламного объявления.

#### ● Clicked on Ad: Кликнул пользователь на рекламу или нет.

In [1]:
# Задание 1.
# Загрузите таблицу из файла advertising_1.csv и сохраните её в датафрейм adv1_df. Укажите в качестве индекса столбец Number. 
# Выведите на экран первые десять строк.

In [2]:
import numpy as np
import pandas as pd

/home/w_lander/anaconda3/envs/dowgrade/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
adva_df = pd.read_csv('hw/advertising_1.csv', index_col='Number')
adva_df.head(10)

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
5,68.95,256.09,Cloned 5thgeneration orchestration,0
6,80.23,193.77,Monitored national standardization,0
8,74.15,245.89,Triple-buffered reciprocal time-frame,0
9,NaN,225.58,Robust logistical utilization,0
10,59.99,226.74,Sharable client-driven software,0
11,88.91,208.36,Enhanced dedicated support,0
12,NaN,131.76,Reactive local challenge,1
13,74.53,NaN,Configurable coherent function,0
14,69.88,183.82,Mandatory homogeneous architecture,0
15,47.64,122.02,Centralized neutral neural-net,1

In [4]:
# Задание 2.
# Выведите размер датафрейма adv1_df и cреднее ежедневное время
# нахождения в интернете пользователя под номером 8.

In [5]:
adva_df.shape

(500, 4)

In [6]:
adva_df.loc[8, 'Daily Internet Usage']

245.89

In [7]:
adva_df.iloc[2, 1]

245.89

In [8]:
# Задание 3.
# Загрузите таблицу из файла advertising_2.csv и сохраните её в датафрейм
# adv2_df. Укажите в качестве индекса стоблец Number. Выведите на экран
# строки для пользователей с номерами с 533-го по 536-й.

In [13]:
adv2_df = pd.read_csv('hw/advertising_2.csv', index_col='Number')
adv2_df.head()

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
530,NaN,165.27,Re-engineered impactful software,0
531,43.65,NaN,Business-focused background synergy,1
532,59.61,198.45,Future-proofed coherent budgetary management,0
533,46.61,NaN,Ergonomic methodical encoding,1
534,NaN,162.03,Compatible dedicated productivity,0

In [11]:
adv2_df.loc[533:536]

,Daily Time Spent on Site,Daily Internet Usage,Ad Topic Line,Clicked on Ad
Number,,,,
533,46.61,NaN,Ergonomic methodical encoding,1
534,NaN,162.03,Compatible dedicated productivity,0
535,65.10,118.10,Up-sized real-time methodology,1
536,53.44,NaN,Up-sized next generation architecture,1