In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/home/w_lander/anaconda3/envs/dowgrade/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# Задание 1. one hot
# В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
# из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это
# сделать без get_dummies?

In [3]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  robot
4  human

In [15]:
unique_val = data['whoAmI'].unique()

In [13]:
one_hot = pd.DataFrame()

In [17]:
for value in unique_val:
    one_hot[value] = (data['whoAmI'] == value).astype(int)

In [18]:
one_hot.head()

   robot  human
0      1      0
1      1      0
2      0      1
3      1      0
4      0      1

In [19]:
data = pd.concat([data, one_hot], axis=1)

In [20]:
data.head()

  whoAmI  robot  human
0  robot      1      0
1  robot      1      0
2  human      0      1
3  robot      1      0
4  human      0      1